.main {
    background-color: #ffffff;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.ft-logo{
    font-weight: 900;
    font-size: 34px;
    color: #4E47FF;

}